<!DOCTYPE html>

<html>
        <head>
                <title>
                  HackerNews - {{title}}
                </title>

        </head>
        <body>
                <font color="grey"><h1>HackerNews!</h1>

                {% block content %}
                <div>
                <font color="grey"><font size=1>
                  <nav>
                    <div class="menu">
                      <a href="/update" class="button warning">Update Ranking List</a>
                    </div>
                <h3>
                 Enter the @username to see how salty they are.
               </h3>
                <form action="/user" method="post">
                        <input type="text" name="by" placeholder="User to add">
                        <input type="submit" name="Add User">
                </form>
                </div>

                {% endblock %}


        </body>
</html>
